<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NAVIGATION</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">

</head>

<body>
    <!-- navbar -->
    <div class="header">
        <div class="header-nav">
            <div class="logo">
                <a aria-label="img" href="../index.html">
                    <img src="../Images/logo.png" alt="" width="70px" height="70px" />
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#"> Live fully in Vietnam </a>
                    <ul class="subnav">
                        <li>
                            <a href="/component/myvn.html"> My Vietnam </a>
                        </li>
                        <li>
                            <a href="/component/virtual.html"> Virtual Vietnam </a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="#"> Things to do </a>
                    <ul class="subnavs">
                        <h3>HIGHLIGHT</h3>
                        <li>
                            <a href="/component/food.html" style="color: #a5190e;"> FOOT </a>
                        </li>
                        <li>
                            <a href="/component/nature.html"> NATURE </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="/component/greentravel.html"> Green travel </a>
                </li>
                <li>
                    <a href="/component/planyourtrip.html"> Plan your trip </a>
                </li>
            </ul>
            <div class="btn">
                <a class="btn-signin" href="#">Sign in</a>
            </div>
        </div>
    </div>

    <!-- body title -->
    <div class="bd-tt-01">
        <div class="bd-container">
            <img src="/Images/food-01.jpg" width="1902" height="840" alt="" />
            <div class="bd-tt-img-01">
                <h2 class="heading--1">FOOD
                </h2>
            </div>
        </div>
    </div>
    <!-- end body -->


    <!-- GUIDES -->
    <div id="guides">
        <div class="gui-container">
            <!-- /* grid 1 */ -->
            <div class="gridings">
                <div class="grid__item grid__item--mobile-up-align-center text-center pillar-testimonial--inline">
                    <div class="quote text-center color-black">
                        <blockquote>
                            <h1>INSIDER GUIDES</h1>
                            <p class="quote__quote gutter-bottom">Get an inside look at Vietnam’s best destinations. Let
                                these locals show you around their hometowns with top tips and must-do experiences.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-gd-6">
                <div class="wrap-author">
                    <div class="wrap-list">
                        <ul class="list-gd">
                            <li class="item-gd">
                                <a class="block-item">
                                    <div class="wrap-thumb-gd">
                                        <img class="thumbs" src="/Images/food-06.jpg" />
                                    </div>
                                    <span class="author-gd">Phu Quoc specialty seafood</span>
                                </a>
                            </li>

                            <li class="item-gd">
                                <a class="block-item">
                                    <div class="wrap-thumb-gd">
                                        <img class="thumbs" src="/Images/card-03.jpg" />
                                    </div>

                                    <span class="author-gd">Must-try food in Hanoi RESEARCH</span>
                                </a>
                            </li>

                            <li class="item-gd">
                                <a class="block-item">
                                    <div class="wrap-thumb-gd">
                                        <img class="thumbs" src="/Images/food-02.jpg" />
                                    </div>

                                    <span class="author-gd">4 “Must-Try” Dishes in Hoi An</span>
                                </a>
                            </li>

                            <li class="item-gd">
                                <a class="block-item">
                                    <div class="wrap-thumb-gd">
                                        <img class="thumbs" src="/Images/food-03.jpg" />
                                    </div>

                                    <span class="author-gd">Da Nang's special pork rolls</span>
                                </a>
                            </li>

                            <li class="item-gd">
                                <a class="block-item">
                                    <div class="wrap-thumb-gd">
                                        <img class="thumbs" src="/Images/food-04.jpg" />
                                    </div>
                                    <span class="author-gd">Phu Quoc signature noodle Bun Quay</span>
                                </a>
                            </li>

                            <li class="item-gd">
                                <a class="block-item">
                                    <div class="wrap-thumb-gd">
                                        <img class="thumbs" src="/Images/food-05.jpg" />
                                    </div>
                                    <span class="author-gd">10 must-try Hanoian dishes</span>

                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--end GUIDES -->



    <!-- body title 2 -->
    <div class="bd-tt-03">
        <!-- <img src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2019-09/food.jpg?itok=bYIgruZP"
            width="1902" height="840" alt="" /> -->
        <iframe width="1920" height="840" src="https://www.youtube.com/embed/_f3BUEmOdFs?controls=0&autoplay=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <!--inforgraphics-->
    <div class="inforgraphics">
        <div class="infog-container">
            <h1>INFOGRAPHICS</h1>
            <p>Learn more about Vietnam</p>
            <div class="gridingg">
                <div class="grid-img">
                    <div class="image">
                        <a aria-label="img" href="#img-1">
                            <img alt="" src="/Images/food-07.jpg">
                        </a>
                    </div>
                </div>
                <div class="grid-img">
                    <div class="image">
                        <a aria-label="img" href="#img-2">
                            <img alt="" src="/Images/food-08.jpg">
                        </a>
                    </div>

                </div>
                <div class="grid-img">
                    <div class="image">
                        <a aria-label="img" href="#img-3">
                            <img alt="" src="/Images/food-09.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="gridingg">
                <div class="grid-img">
                    <div class="image">
                        <a aria-label="img" href="#img-4">
                            <img alt="" src="/Images/food-10.jpg">
                        </a>
                    </div>
                </div>
                <div class="grid-img">
                    <div class="image">
                        <a aria-label="img" href="#img-5">
                            <img alt="" src="/Images/food-11.jpg">
                        </a>
                    </div>

                </div>
                <div class="grid-img">
                    <div class="image">
                        <a aria-label="img" href="#img-6">
                            <img alt="" src="/Images/food-12.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- footer -->

    <div class="footer">
        <div class="col-1">
            <h3>USEFUL LINKS</h3>
            <a href="#"> About </a>
            <a href="#"> Services </a>
            <a href="#"> Contact </a>
            <a href="#"> Shop </a>
            <a href="#"> Blog </a>
        </div>
        <div class="col-2">
            <h3>SIGN UP FOR OUR NEWSLETTER</h3>
            <p>Receive new travel stories from Vietnam once a month in your inbox.</p>
            <form>
                <input type="email" placeholder="Your Email Address" required>
                <br>
                <button type="submit">GIGN UP</button>
            </form>
        </div>
        <div class="col-3">
            <h3>CONTACT</h3>
            <p>123,asdasdas,VN<br> Ha Noi,VN</p>
            <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-behance"></i>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>