<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NAVIGATION</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">

</head>

<body>

    <!-- navbar -->
    <div class="header">
        <div class="header-nav">
            <div class="logo">
                <a aria-label="img" href="../index.html">
                    <img src="../Images/logo.png" alt="" width="70px" height="70px" />
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#"> Live fully in Vietnam </a>
                    <ul class="subnav">
                        <li>
                            <a href="/component/myvn.html"> My Vietnam </a>
                        </li>
                        <li>
                            <a href="/component/virtual.html"> Virtual Vietnam </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"> Things to do </a>
                    <ul class="subnavs">
                        <h3>HIGHLIGHT</h3>
                        <li>
                            <a href="/component/food.html"> FOOT </a>
                        </li>
                        <li>
                            <a href="/component/nature.html"> NATURE </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/component/greentravel.html" style="color: #a5190e;"> Green travel </a>
                </li>
                <li>
                    <a href="/component/planyourtrip.html"> Plan your trip </a>
                </li>
            </ul>
            <div class="btn">
                <a class="btn-signin" href="#">Sign in</a>
            </div>
        </div>
    </div>

    <!-- body title -->
    <div class="bd-tt-01">
        <div class="bd-container">
            <img src="../Images/shutterstock.png" width="1902" height="840" alt="" />
            <div class="bd-tt-img-01">
                <h2 class="heading--1">Green Travel</h2>
            </div>
        </div>
    </div>

    <!-- /* grid 1 */ -->
    <div class="gridings">
        <div class="grid__item grid__item--mobile-up-align-center text-center pillar-testimonial--inline">
            <div class="quote text-center color-black">
                <blockquote>
                    <h1>FEEL-GOOD GETAWAYS</h1>
                    <p class="quote__quote gutter-bottom">54 ethnic groups, 30 national parks, 8 UNESCO sites ––
                        Vietnam’s diverse landscapes and rich culture make it a fascinating destination for any
                        traveller. If you’re the type that likes to learn as you go, take it slow, and give back
                        along the way, you’ll find countless enriching experiences to choose from here.
                        From hotels that preserve the natural environment to tours that support ethnic minorities,
                        here are some tangible trip ideas for sustainable travellers.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="griding">
        <div class="grid-img">
            <div class="image">
                <a aria-label="img" href="#img-1">
                    <img alt="" src="/Images/greentv-01.jpg">
                </a>

            </div>
            <div class="title">
                <h1>
                    VIETNAMESE CULTURE</h1>
            </div>
            <div class="des">
                <p>Brush up on local etiquette</p>
                <button onclick="show_hide()">Read More...</button>
            </div>
        </div>
        <div class="grid-img">
            <div class="image">
                <a aria-label="img" href="#img-2">
                    <img alt="" src="/Images/greentv-02.jpg">
                </a>

            </div>
            <div class="title">
                <h1>
                    BEST PRACTICES</h1>
            </div>
            <div class="des">
                <p>Learn how to travel responsibly</p>
                <button onclick="show_hide1()">Read More...</button>
            </div>
        </div>
        <div class="grid-img">
            <div class="image">
                <a aria-label="img" href="#img-3">
                    <img alt="" src="/Images/greentv-03.jpg">
                </a>

            </div>
            <div class="title">
                <h1>
                    OFF THE BEATEN PATH</h1>
            </div>
            <div class="des">
                <p>See another side of Vietnam</p>
                <button onclick="show_hide2()">Read More...</button>
            </div>
        </div>
    </div>

    <div id="myDIV">
        <div class="data-content">
            <div id="img-1" class="tabcontent ">
                <div class="blog-content">
                    <div class="img">
                        <img src="/Images/greentv-01.jpg" alt="">
                    </div>
                    <div class="title">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore dolorum id
                            saepe molestias ipsam, iure ipsa porro reprehenderit harum!</p>
                        <button type="button" class="btn-blog">Read More</button>
                    </div>
                    <span onclick="show_hide()">Close</span>
                </div>
            </div>
        </div>
    </div>
    <div id="myDIV1">
        <div class="data-content">
            <div id="img-2" class="tabcontent ">
                <div class="blog-content">
                    <div class="img">
                        <img src="/Images/greentv-02.jpg" alt="">
                    </div>
                    <div class="title">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore dolorum id
                            saepe molestias ipsam, iure ipsa porro reprehenderit harum!</p>
                        <button type="button" class="btn-blog">Read More</button>
                    </div>
                    <span onclick="show_hide1()">Close</span>
                </div>
            </div>
        </div>
    </div>
    <div id="myDIV2">
        <div class="data-content">
            <div id="img-3" class="tabcontent ">
                <div class="blog-content">
                    <div class="img">
                        <img src="/Images/greentv-03.jpg" alt="">
                    </div>
                    <div class="title">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore dolorum id
                            saepe molestias ipsam, iure ipsa porro reprehenderit harum!</p>
                        <button type="button" class="btn-blog">Read More</button>
                    </div>
                    <span onclick="show_hide2()">Close</span>
                </div>
            </div>
        </div>
    </div>






    <!-- ======= Hero Section ======= -->

    <div class="wrap">
        <div id="arrow-left" class="arrow"></div>
        <div id="slider">
            <div class="slide slide1">
                <div class="slide-content">
                    <span>
                        An introduction to sustainable trave</span>
                </div>
            </div>
            <div class="slide slide2">
                <div class="slide-content">
                    <span>Dining with a difference at KOTO</span>
                </div>
            </div>
            <div class="slide slide3">
                <div class="slide-content">
                    <span>Vietnam for solo travellers</span>
                </div>
            </div>
            <div class="slide slide4">
                <div class="slide-content">
                    <span>Explore and embrace: Vietnam’s green tours</span>
                </div>
            </div>
            <div class="slide slide5">
                <div class="slide-content">
                    <span>The best sustainable stays in Vietnam </span>
                </div>
            </div>
        </div>
        <div id="arrow-right" class="arrow"></div>
    </div>
    <!-- End Hero -->

    <div class="row-lk">
        <div class="row-container">
            <h2 class="hedding-row-lk">SUSTAINABLE TOUR OPERATORS</h2>
            <div class="row-eq-height">
                <div class="col-lk-12 col-lk-6 col-lk-4 carrier_item">
                    <div class="wrap-carrier">
                        <div class="thumb">
                            <img src="/Images/sustainable-01.jpg" width="97px" height="97px"
                                alt="sustainable travel Vietnam" />
                        </div>
                        <div class="info">
                            <h5 class="title">Grasshopper Adventures</h5>
                            <p class="desc"><i class="fa fa-phone"></i>1 844 874 3720</p>
                            <p class="desc">
                                <i class="fa fa-home"></i>
                                <a href="http://grasshopperadventures.com" target="_blank"
                                    title="https://grasshopperadventures.com" class="ext"
                                    rel="noopener noreferrer">grasshopperadventures.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lk-12 col-lk-6 col-lk-4 carrier_item">
                    <div class="wrap-carrier">
                        <div class="thumb">
                            <img src="/Images/sustainable-02.jpg" width="97px" height="97px"
                                alt="sustainable travel Vietnam" />
                        </div>
                        <div class="info">
                            <h5 class="title">SENS ASIA</h5>
                            <p class="desc"><i class="fa fa-phone"></i>84 24 3266 9222</p>
                            <p class="desc">
                                <i class="fa fa-home"></i>
                                <a href=" https://www.sensasia.com" target="_blank" title="grasshopperadventures.com"
                                    class="ext" rel="noopener noreferrer">www.sensasia.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lk-12 col-lk-6 col-lk-4 carrier_item">
                    <div class="wrap-carrier">
                        <div class="thumb">
                            <img src="/Images/sustainable-03.jpg" width="97px" height="97px"
                                alt="sustainable travel Vietnam" />
                        </div>
                        <div class="info">
                            <h5 class="title">DISCOVERY INDOCHINA</h5>
                            <p class="desc"><i class="fa fa-phone"></i>84 24 3716 4132</p>
                            <p class="desc">
                                <i class="fa fa-home"></i>
                                <a href="https://discoveryindochina.com" target="_blank"
                                    title="grasshopperadventures.com" class="ext" rel="noopener noreferrer">
                                    discoveryindochina.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lk-12 col-lk-6 col-lk-4 carrier_item">
                    <div class="wrap-carrier">
                        <div class="thumb">
                            <img src="/Images/sustainable-04.jpg" width="97px" height="97px"
                                alt="sustainable travel Vietnam" />
                        </div>
                        <div class="info">
                            <h5 class="title">ETHOS SPIRIT</h5>
                            <p class="desc"><i class="fa fa-phone"></i>84 36 689 2536</p>
                            <p class="desc">
                                <i class="fa fa-home"></i>
                                <a href="https://www.ethosspirit.com" target="_blank" title="grasshopperadventures.com"
                                    class="ext" rel="noopener noreferrer"> www.ethosspirit.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lk-12 col-lk-6 col-lk-4 carrier_item">
                    <div class="wrap-carrier">
                        <div class="thumb">
                            <img src="/Images/sustainable-05.jpg" width="97px" height="97px"
                                alt="sustainable travel Vietnam" />
                        </div>
                        <div class="info">
                            <h5 class="title">FOOTPRINT TRAVEL</h5>
                            <p class="desc"><i class="fa fa-phone"></i>84 24 3933 2844</p>
                            <p class="desc">
                                <i class="fa fa-home"></i>
                                <a href="https://www.footprint.vn" target="_blank" title="grasshopperadventures.com"
                                    class="ext" rel="noopener noreferrer">www.footprint.vn
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lk-12 col-lk-6 col-lk-4 carrier_item">
                    <div class="wrap-carrier">
                        <div class="thumb">
                            <img src="/Images/sustainable-06.jpg" width="97px" height="97px"
                                alt="sustainable travel Vietnam" />
                        </div>
                        <div class="info">
                            <h5 class="title">SAPA SISTERS</h5>
                            <p class="desc"><i class="fa fa-phone"></i>84 33 224 8088</p>
                            <p class="desc">
                                <i class="fa fa-home"></i>
                                <a href="https://www.sapasisters.com" target="_blank" title="grasshopperadventures.com"
                                    class="ext" rel="noopener noreferrer"> www.sapasisters.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lk-12 col-lk-6 col-lk-4 carrier_item">
                    <div class="wrap-carrier">
                        <div class="thumb">
                            <img src="/Images/sustainable-07.jpg" width="97px" height="97px"
                                alt="sustainable travel Vietnam" />
                        </div>
                        <div class="info">
                            <h5 class="title">KHIRI TRAVEL VIETNAM</h5>
                            <p class="desc"><i class="fa fa-phone"></i>84 28 3997 6500</p>
                            <p class="desc">
                                <i class="fa fa-home"></i>
                                <a href="https://www.khiri.com" target="_blank" title="grasshopperadventures.com"
                                    class="ext" rel="noopener noreferrer"> www.khiri.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lk-12 col-lk-6 col-lk-4 carrier_item">
                    <div class="wrap-carrier">
                        <div class="thumb">
                            <img src="/Images/sustainable-08.jpg" width="97px" height="97px"
                                alt="sustainable travel Vietnam" />
                        </div>
                        <div class="info">
                            <h5 class="title">365 TRAVEL</h5>
                            <p class="desc"><i class="fa fa-phone"></i>84 24 3835 4899</p>
                            <p class="desc">
                                <i class="fa fa-home"></i>
                                <a href="https://www.365travel.asia" target="_blank" title="grasshopperadventures.com"
                                    class="ext" rel="noopener noreferrer"> www.365travel.asia
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lk-12 col-lk-6 col-lk-4 carrier_item">
                    <div class="wrap-carrier">
                        <div class="thumb">
                            <img src="/Images/sustainable-09.jpg" width="97px" height="97px"
                                alt="sustainable travel Vietnam" />
                        </div>
                        <div class="info">
                            <h5 class="title">
                                ASIAN TRAILS</h5>
                            <p class="desc"><i class="fa fa-phone"></i>84 28 3910 2871</p>
                            <p class="desc">
                                <i class="fa fa-home"></i>
                                <a href="https://www.asiantrails.travel" target="_blank"
                                    title="grasshopperadventures.com" class="ext"
                                    rel="noopener noreferrer">www.asiantrails.travel
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- footer -->

    <div class="footer">
        <div class="col-1">
            <h3>USEFUL LINKS</h3>
            <a href="#"> About </a>
            <a href="#"> Services </a>
            <a href="#"> Contact </a>
            <a href="#"> Shop </a>
            <a href="#"> Blog </a>
        </div>
        <div class="col-2">
            <h3>SIGN UP FOR OUR NEWSLETTER</h3>
            <p>Receive new travel stories from Vietnam once a month in your inbox.</p>
            <form>
                <input type="email" placeholder="Your Email Address" required>
                <br>
                <button type="submit">GIGN UP</button>
            </form>
        </div>
        <div class="col-3">
            <h3>CONTACT</h3>
            <p>123,asdasdas,VN<br> Ha Noi,VN</p>
            <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-behance"></i>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>
<script>
    let sliderImages = document.querySelectorAll(".slide"),
        arrowLeft = document.querySelector("#arrow-left"),
        arrowRight = document.querySelector("#arrow-right"),
        current = 0;

    // Clear all images
    function reset() {
        for (let i = 0; i < sliderImages.length; i++) {
            sliderImages[i].style.display = "none";
        }
    }

    // Init slider
    function startSlide() {
        reset();
        sliderImages[0].style.display = "block";
    }

    // Show prev
    function slideLeft() {
        reset();
        sliderImages[current - 1].style.display = "block";
        current--;
    }

    // Show next
    function slideRight() {
        reset();
        sliderImages[current + 1].style.display = "block";
        current++;
    }

    // Left arrow click
    arrowLeft.addEventListener("click", function () {
        if (current === 0) {
            current = sliderImages.length;
        }
        slideLeft();
    });

    // Right arrow click
    arrowRight.addEventListener("click", function () {
        if (current === sliderImages.length - 1) {
            current = -1;
        }
        slideRight();
    });

    startSlide();
</script>


</html>