<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NAVIGATION</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
</head>

<body>

    <!-- navbar -->
    <div class="header">
        <div class="header-nav">
            <div class="logo">
                <a aria-label="img" href="../index.html">
                    <img src="../Images/logo.png" alt="" width="70px" height="70px" />
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#"> Live fully in Vietnam </a>
                    <ul class="subnav">
                        <li>
                            <a href="/component/myvn.html"> My Vietnam </a>
                        </li>
                        <li>
                            <a href="/component/virtual.html"> Virtual Vietnam </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"> Things to do </a>
                    <ul class="subnavs">
                        <h3>HIGHLIGHT</h3>
                        <li>
                            <a href="/component/food.html"> FOOT </a>
                        </li>
                        <li>
                            <a href="/component/nature.html"> NATURE </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/component/greentravel.html"> Green travel </a>
                </li>
                <li>
                    <a href="/component/planyourtrip.html" style="color: #a5190e;"> Plan your trip </a>
                </li>
            </ul>
            <div class="btn">
                <a class="btn-signin" href="#">Sign in</a>
            </div>
        </div>
    </div>

    <!-- body title -->
    <div class="bd-tt-01">
        <div class="bd-container">
            <img src="../Images/plan.jpg" width="1902" height="840" alt="" />
            <div class="bd-tt-img-01">
                <h2 class="heading--1">Plan your trip</h2>
            </div>
        </div>
    </div>


    <!-- /* grid 2 */ -->
    <div class="grids">
        <div class="grid__item grid__item--mobile-up-align-center text-center pillar-testimonial--inline">
            <div class="quote text-center color-black">
                <blockquote>
                    <h1>TRAVEL TIPS</h1>
                    <p class="quote__quote gutter-bottom">
                        Prepare for your trip with these practical articles
                    </p>
                    <cite class="quote__cite color-gray-70 gutter-bottom">Catherine | SoYoung</cite>
                </blockquote>
                <div class="rowd">
                    <div class="col-01">
                        <div class="thumbline">
                            <a href="#">
                                <img src='https://vietnam.travel/sites/default/files/2019-11/Visas_1.jpg' width="110"
                                    height="80" alt='' />
                                <div class="thumbline-text">
                                    <p>VISAS</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-01">
                        <div class="thumbline">
                            <a href="#">
                                <img src='https://vietnam.travel/sites/default/files/2019-11/Transport_1.jpg'
                                    width="110" height="80" alt='' />
                                <div class="thumbline-text">
                                    <p>TRANSPORT</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-01">
                        <div class="thumbline">
                            <a href="#">
                                <img src='https://vietnam.travel/sites/default/files/2019-11/Weather%20white_1.jpg'
                                    width="110" height="80" alt='' />
                                <div class="thumbline-text">
                                    <p>WEATHER</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-01">
                        <div class="thumbline">
                            <a href="#">
                                <img src='https://vietnam.travel/sites/default/files/2019-11/Health%20and%20Safety_0.jpg'
                                    width="110" height="80" alt='' />
                                <div class="thumbline-text">
                                    <p>SAFETY</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-01">
                        <div class="thumbline">
                            <a href="#">
                                <img src='https://vietnam.travel/sites/default/files/2019-11/History%20white_0.jpg'
                                    width="110" height="80" alt='' />
                                <div class="thumbline-text">
                                    <p>HISTORY</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rowd">
                    <div class="col-01">
                        <div class="thumbline">
                            <a href="#">
                                <img src='https://vietnam.travel/sites/default/files/2019-11/airports%20of%20vietnam%20guide.jpg'
                                    width="110" height="80" alt='' />
                                <div class="thumbline-text">
                                    <p>VISAS</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-01">
                        <div class="thumbline">
                            <a href="#">
                                <img src='https://vietnam.travel/sites/default/files/2019-11/Itinerary%20vietnam%20travel.jpg'
                                    width="110" height="80" alt='' />
                                <div class="thumbline-text">
                                    <p>TRANSPORT</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-01">
                        <div class="thumbline">
                            <a href="#">
                                <img src='https://vietnam.travel/sites/default/files/2019-11/festivals%20of%20vietnam.jpg'
                                    width="110" height="80" alt='' />
                                <div class="thumbline-text">
                                    <p>WEATHER</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-01">
                        <div class="thumbline">
                            <a href="#">
                                <img src='https://vietnam.travel/sites/default/files/2019-11/Culture%20non%20la%20white.jpg'
                                    width="110" height="80" alt='' />
                                <div class="thumbline-text">
                                    <p>SAFETY</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-01">
                        <div class="thumbline">
                            <a href="#">
                                <img src='https://vietnam.travel/sites/default/files/2019-11/Our%20Partners.jpg'
                                    width="110" height="80" alt='' />
                                <div class="thumbline-text">
                                    <p>HISTORY</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <span class="quote-img">
                    <img src='https://vietnam.travel/sites/default/files/2019-11/Visas_1.jpg' width="110" height="80"
                        alt='' />
                </span> -->
            </div>
        </div>
    </div>
    <!-- /* end grid 2 */ -->

    <!--list img-->
    <div class="wrap">
        <div id="arrow-left" class="arrow"></div>
        <div id="slider">
            <div class="slide slide6">
                <div class="slide-content">
                    <span>Beginner's guide to Vietnam now</span>
                </div>
            </div>
            <div class="slide slide7">
                <div class="slide-content">
                    <span>5 reasons to try a homestay in Vietnam</span>
                </div>
            </div>
            <div class="slide slide8">
                <div class="slide-content">
                    <span>A guide to e-Visas in Vietnam </span>
                </div>
            </div>
        </div>
        <div id="arrow-right" class="arrow"></div>
    </div>

    <!--end list img-->


    <!-- /* grid 1 */ -->
    <div class="gridingss">
        <div class="grid__item grid__item--mobile-up-align-center text-center pillar-testimonial--inline">
            <div class="quote text-center color-black">
                <blockquote>
                    <h1>EXPLORE FROM HOME</h1>
                    <p class="quote__quote gutter-bottom">Explore Vietnam more from home and start planning your
                        holidays.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="griding">
        <div class="grid-img">
            <div class="image">
                <a aria-label="img" href="#img-1">
                    <img height="200px" alt=""
                        src="https://vietnam.travel/sites/default/files/styles/large/public/2020-04/Vietnam%20Travel-10_0.jpg?itok=i2yGxOaD">
                </a>

            </div>
            <div class="title">
                <h1>
                    Fun at Home</h1>
            </div>
            <div class="des">
                <p>Recipes, colouring sheets, and more </p>

            </div>
        </div>
        <div class="grid-img">
            <div class="image">
                <a aria-label="img" href="#img-2">
                    <img height="200px" alt=""
                        src="https://vietnam.travel/sites/default/files/styles/large/public/2020-04/Vietnam%20Travel-24_1.jpg?itok=lM8q5xcN">
                </a>

            </div>
            <div class="title">
                <h1>
                    Books, Art & Music</h1>
            </div>
            <div class="des">
                <p>A primer on Vietnamese culture</p>
            </div>
        </div>
        <div class="grid-img">
            <div class="image">
                <a aria-label="img" href="#img-3">
                    <img height="200px" alt=""
                        src="https://vietnam.travel/sites/default/files/styles/large/public/2020-04/Vietnam%20Travel-13_0.jpg?itok=8H6GAWTy">
                </a>
            </div>
            <div class="title">
                <h1>
                    My Vietnam</h1>
            </div>
            <div class="des">
                <p>Local stories from north to south</p>
            </div>
        </div>

        <div class="griding" style="margin-bottom: 60px;">
            <div class="grid-img">
                <div class="image">
                    <a aria-label="img" href="#img-1">
                        <img height="200px" alt=""
                            src="https://vietnam.travel/sites/default/files/styles/large/public/2020-02/Vietnam%20Tourism-5.jpg?itok=9dYS3D9u">
                    </a>

                </div>
                <div class="title">
                    <h1>
                        Travel advisory</h1>
                </div>
                <div class="des">
                    <p>Precautions and prevention for COVID-19 </p>

                </div>
            </div>
            <div class="grid-img">
                <div class="image">
                    <a aria-label="img" href="#img-2">
                        <img height="200px" alt=""
                            src="https://vietnam.travel/sites/default/files/styles/large/public/2020-02/Vietnam%20Tourism-6.jpg?itok=4HLVC60N">
                    </a>

                </div>
                <div class="title">
                    <h1>
                        Safety strategy</h1>
                </div>
                <div class="des">
                    <p>How Vietnam contains the virus</p>
                </div>
            </div>
            <div class="grid-img">
                <div class="image">
                    <a aria-label="img" href="#img-3">
                        <img height="200px" alt=""
                            src="https://vietnam.travel/sites/default/files/styles/large/public/2020-02/Vietnam%20Tourism-7.jpg?itok=G2ILo_9Y">
                    </a>
                </div>
                <div class="title">
                    <h1>
                        Inspiring stories</h1>
                </div>
                <div class="des">
                    <p>Kindness and community spirit</p>
                </div>
            </div>
        </div>
    </div>

    <!--inforgraphics-->
    <div class="inforgraphics">
        <div class="infog-container">
            <h1>INFOGRAPHICS</h1>
            <p>Learn more about Vietnam</p>
            <div class="gridingg">
                <div class="grid-img">
                    <div class="image">
                        <a aria-label="img" href="#img-1">
                            <img alt=""
                                src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-04/Etiquette%20in%20Vietnam.jpg?itok=x5mkB5F-">
                        </a>
                    </div>
                </div>
                <div class="grid-img">
                    <div class="image">
                        <a aria-label="img" href="#img-2">
                            <img alt=""
                                src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-04/e-visa%20guide%20vietnam_0.jpg?itok=cNTcAGja">
                        </a>
                    </div>

                </div>
                <div class="grid-img">
                    <div class="image">
                        <a aria-label="img" href="#img-3">
                            <img alt=""
                                src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-04/transport%20in%20vietnam%20%282%29_2.jpg?itok=oYRhRY5C">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->

    <div class="footer">
        <div class="col-1">
            <h3>USEFUL LINKS</h3>
            <a href="#"> About </a>
            <a href="#"> Services </a>
            <a href="#"> Contact </a>
            <a href="#"> Shop </a>
            <a href="#"> Blog </a>
        </div>
        <div class="col-2">
            <h3>SIGN UP FOR OUR NEWSLETTER</h3>
            <p>Receive new travel stories from Vietnam once a month in your inbox.</p>
            <form>
                <input type="email" placeholder="Your Email Address" required>
                <br>
                <button type="submit">GIGN UP</button>
            </form>
        </div>
        <div class="col-3">
            <h3>CONTACT</h3>
            <p>123,asdasdas,VN<br> Ha Noi,VN</p>
            <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-behance"></i>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>

<script>
    let sliderImages = document.querySelectorAll(".slide"),
        arrowLeft = document.querySelector("#arrow-left"),
        arrowRight = document.querySelector("#arrow-right"),
        current = 0;

    // Clear all images
    function reset() {
        for (let i = 0; i < sliderImages.length; i++) {
            sliderImages[i].style.display = "none";
        }
    }

    // Init slider
    function startSlide() {
        reset();
        sliderImages[0].style.display = "block";
    }

    // Show prev
    function slideLeft() {
        reset();
        sliderImages[current - 1].style.display = "block";
        current--;
    }

    // Show next
    function slideRight() {
        reset();
        sliderImages[current + 1].style.display = "block";
        current++;
    }

    // Left arrow click
    arrowLeft.addEventListener("click", function () {
        if (current === 0) {
            current = sliderImages.length;
        }
        slideLeft();
    });

    // Right arrow click
    arrowRight.addEventListener("click", function () {
        if (current === sliderImages.length - 1) {
            current = -1;
        }
        slideRight();
    });

    startSlide();
</script>

</html>